html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: table;
    width: 100%;
}

.footer {
    display: table-row;
    height: 50px; /* à titre d'exemple */
}

.form-horizontal .control-group {
    margin-bottom: 5px;
}
.OD_OG {
    width: 90%;
}

.intut_50 {
    width: 50px!important;
}