@model OpticApp.Models.TypeArticle

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <form asp-action="Edit" class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="span12">

            <div class="widget ">

                <div class="widget-header">
                    <i class="icon-user"></i>
                    <h3>Edition du client</h3>
                </div> <!-- /widget-header -->

                <div class="widget-content">


                    <fieldset>
                        <input type="hidden" asp-for="ID" />
                        <div class="control-group">
                            <label asp-for="libelleTypeArticle" class="control-label"></label>
                            <div class="controls">
                                <input asp-for="libelleTypeArticle" class="span6" />
                                <span asp-validation-for="libelleTypeArticle" class="help-block"></span>
                            </div> <!-- /controls -->
                        </div>
                        <br />
                        <div class="form-actions">

                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a class="btn" asp-action="Index">Retour à la Liste</a>
                        </div>



                    </fieldset>



                </div> <!-- /widget-content -->

            </div>
        </div>


    </form>
</div>







@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="libelleTypeArticle" class="control-label"></label>
                <input asp-for="libelleTypeArticle" class="form-control" />
                <span asp-validation-for="libelleTypeArticle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la Liste</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
